ul {padding: 0;}
.ITEM       {list-style: none;background: #666;border: 1px solid #555;width: 25%;border-bottom: 0px;}
.ITEM:hover {background: #748392}
.ITEM div,
.ITEM a     {text-decoration: none; padding: 7px;color: white; font-weight: bold;display: block;text-transform: uppercase;font-size: 12px;cursor: pointer}
.ITEM .OUTCOME {background: #777}